@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #131313;
    --gray: #727272;
    --orange: #FF900E;
    --hitGray: #424242;
    --bgColor: #FFF4E7;
    --white: #FFFFFF;
}

/* common style css start  */
body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark);
    margin-bottom: 25px;

}

.pera-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 32px;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
    background-color: var(--orange);
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--orange);

}

.main {
    margin-top: 85px;
}

.margin-top-section {
    margin-top: 130px;
}

/* common style css end */


.header {
    background-color: var(--bgColor);
}

/* nav bar css start  */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.nav-brand .brand-name {
    font-weight: 700;
    font-size: 35px;
    color: var(--dark);
}

.navbar-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.navbar-lists li {
    list-style-type: none;
}

.navbar-lists li>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--hitGray);
}

/* nav bar css end  */
/* banner-area css start  */

.banner-area {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.banner-content {
    padding: 0 135px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--dark);
    margin-bottom: 20px;
}

.banner-img>img {
    width: 100%;
    height: 100%;
}

/* banner-area css end */
/* quick list feature css start  */
.quick_feature_area {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 0 25px;
}

.quick_feature_object {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.quick_feature_img>img {
    width: 100%;
}

.quick_feature_content {
    flex: 1;
}

.quick_text {
    font-weight: 500;
    color: var(--gray);
}

.feature_text {
    color: var(--orange);
}



/* quick list feature css end */
/* love & enjoy feature css start */
.love-enjoy-feature {
    display: flex;
    justify-content: space-between;
    gap: 145px;
}

.love-enjoy-feature-content {
    flex: 1;
}

.enjoy-area-title {
    padding-left: 20px;
    border-left: 5px solid var(--orange);
}

.feature-item {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px #0000000f;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark);
    margin-bottom: 10px;
}

.feature-pera {
    margin-bottom: 0;
}

.love-enjoy-feature-object {
    flex: 1;
}

.love-enjoy-feature-object>img {
    width: 100%;
}

.enjoy-feature-section {
    position: relative;
}

.experience-year {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.year-btn {
    font-weight: 400;
    font-size: 25px;
}

.experience-year .year-btn span {
    font-weight: 700;
    font-size: 65px;
    display: block;
}

/* love & enjoy feature css end */
/* fact area css start  */
.fect-area-content {
    max-width: 542px;
}

.fact-warper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
    padding: 0 25px;
}

.fact-item {
    padding: 40px 30px;
    border: 1px solid var(--orange);
    border-radius: 8px;
    text-align: center;
    width: 241.83px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.fact-item:hover {
    background-color: var(--orange);
    /* transform: scale(1.1); */
    color: var(--white);
    box-shadow: inset 0 0 20px 20px hsla(0, 1%, 52%, 0.325);
}

.fact-item:hover .fact-count {
    color: var(--white);
}

.fact-item:hover .fact-title {
    color: var(--white);
}

.fact-item:hover img {
    transform: scale(1.2);
}

.fact-item>img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.fact-count {
    font-weight: 600;
    font-size: 45px;
    color: var(--hitGray);
    margin-bottom: 5px;
    transition: all 0.3s;

}

.fact-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--gray);
    transition: all 0.3s;

}


/* fact area css end */
/* team member css start  */
.team-area{
    text-align: center;
}
.team-area-specail-text{
    color: var(--orange);
}
.member-warper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 45px;
}
.member{
    padding: 10px;
    box-shadow: 0px 1px 10px -3px var(--gray);
    border-radius: 5px;
}
.member:hover img{
    filter: grayscale(100%);
}
.member-img{
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;
    

}
.member-img img{
    width: 236px;
    height: 236px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.member-info{
    text-align: left;
}
.member-position{
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 5px;
}
.member-title{
font-size: 20px;
font-weight: 600;
color: var(--dark);
text-transform: uppercase;
margin-bottom: 5px;
}

/* team member css end */

/* sponsor area css start  */
.sponsor-content {
    max-width: 542px;
    text-align: center;
    margin: 0 auto;
}

.sponsor-warper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 125px;
}

.sponsor-item>img {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.sponsor-item>img:hover {
    filter: grayscale(0);
}

/* sponsor area css end */
/* .footer area css start  */
.footer {
    margin-bottom: 130px;
}

.copyRight-area {
    padding: 40px 0;
    background-color: var(--bgColor);

}

.copy-right-text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: var(--hitGray);
}

/* .footer area css end */

/* responsive device css start  */
/* _______________________
mobile device view 
 ____________________*/
@media screen and (max-width:556px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .section-title {
        font-size: 30px;
        margin-bottom: 18px;
    }

    .pera-text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .main,
    .margin-top-section {
        margin-top: 45px;
    }

    .nav-bar,
    .quick_feature_area {
        flex-direction: column;
        gap: 30px;
    }

    .navbar-lists {
        flex-direction: column;
        gap: 15px;
    }

    .banner-area {
        gap: 30px;
    }

    .banner-content {
        padding: 0;
    }

    .banner-title {
        font-size: 30px;
    }

    .quick_feature_area {
        padding: 0;
    }
    .quick_feature_content{
        text-align: center;
    }

    .quick_feature_object {
        grid-template-columns: repeat(1, 1fr);
    }

    .love-enjoy-feature {
        flex-direction: column;
        gap: 30px;
    }

    .experience-year {
        position: static;
        margin-top: 30px;
    }

    .feature-item {
        padding: 15px;
    }

    .experience-year .year-btn span {
        font-weight: 700;
        font-size: 40px;
    }

    .fect-area-content {
        width: 100%;
        text-align: center;
    }
    .fact-warper {
        flex-wrap: wrap;
        margin-top: 50px;
        padding: 0;
        gap: 30px;
    }
    .member-warper{
        grid-template-columns: repeat(1,1fr);
        margin-top: 30px;
    }
    .member-info{
        text-align: center;
    }
    .sponsor-warper {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 30px;
    }

    .sponsor-item {
        text-align: center;
    }

    .sponsor-item>img {
        width: 50%;
    }
    .footer{
        margin-bottom: 45px;
    }
    .copyRight-area{
        padding: 30px 0;
    }

    .copy-right-text {
        font-size: 15px;
    }
}

/* table device responsive  */

@media screen and (min-width:557px) and (max-width:992px) {
    .container{
        width: 100%;
        padding: 20px;
    }
    .banner-content {
        padding: 0 20px;
    }
    .main, .margin-top-section {
        margin-top: 50px;
    }
    .quick_feature_area {
        flex-direction: column;
        gap: 30px;
    }
    .love-enjoy-feature{
        flex-direction: column;
    }
    .experience-year{
        position: static;
        margin-top: 50px;
    }
    .year-btn{
        padding: 25px 40px;
    }
    .experience-year .year-btn span{
        font-size: 40px;
    }

    .fact-warper {
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .member-warper{
        grid-template-columns: repeat(2,1fr);
        margin-top: 30px;
    }
    .member-info{
        text-align: center;
    }
    .sponsor-warper{
        grid-template-columns: repeat(3,1fr);
        gap: 36px
    }
    .sponsor-item>img {
        width: 50%;
    }
}

/* responsive device css end */